* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* border: 1px solid red; */

  font-family: sans-serif;
}

:root {
  --color-dark-gray: #252525;
  --color-gray: #8d9192;
  --color-light-gray: #ededed;
  --color-white: #fff;
  --color-blue: #28809a;
  --color-red: #ba566c;
}

.margin-90 {
  margin: 0 auto;
  width: 90%;
}

.margin-60 {
  margin: 0 auto;
  width: 60%;
}

/* header */
header {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
}

h1 {
  padding: 1rem 0;
}

/* main */
main {
  padding: 2rem 0;
}

/* table */
table {
  border: 1px solid var(--color-gray);
  border-radius: 1rem;
  padding: 1rem;
}

td {
  padding: 0.5rem;
}

/* card */
h3 {
  padding: 1rem 0;
}

.card {
  padding: 1rem;
  border: 1px solid var(--color-gray);
  border-radius: 1rem;
}

.card-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

img {
  width: 100%;
  border-radius: 0.5rem;
}

p,
span {
  text-align: justify;
}